@using Sitecore.Feature.GoogleStructureData
@using Sitecore.Feature.Navigation
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Feature.GoogleStructureData.ViewModels.DataRenderingModel

<div itemscope itemtype="http://schema.org/NewsArticle">
    @if (Model.HasValueFor(Constants.Items.ArticleFieldItems.MainEntryofPageFieldID))
    {
        <meta itemscope itemprop="mainEntityOfPage" itemType="https://schema.org/WebPage" itemid="@Model.GetStringValue(Constants.Items.ArticleFieldItems.MainEntryofPageFieldID))" />
    }
    <h2 itemprop="headline">@Model.Field(Constants.Items.ArticleFieldItems.HeadlineFieldID)</h2>

    @if (Model.HasValueFor(Constants.Items.ArticleFieldItems.AuthorFieldID))
    {
        <h3 itemprop="author" itemscope itemtype="https://schema.org/Person">
            By <span itemprop="name">@Model.Field(Constants.Items.ArticleFieldItems.AuthorFieldID)</span>
        </h3>
    }
    <span itemprop="description">@Model.Field(Constants.Items.ArticleFieldItems.DescriptionFieldID)</span>
    @Model.RenderImageObject(Constants.Items.ArticleFieldItems.ImageFieldID)
    @Model.RenderPublisherObject(Constants.Items.ArticleFieldItems.PublisherFieldID)
    <meta itemprop="datePublished" content="@Model.DateObject(Constants.Items.ArticleFieldItems.DatePublishedFieldID)" />
    <meta itemprop="dateModified" content="@Model.DateObject(Constants.Items.ArticleFieldItems.DateModifiedFieldID)" />
    @*<meta itemprop="datePublished" content="2015-02-05T08:00:00+08:00"/>
        <meta itemprop="dateModified" content="2015-02-05T09:20:00+08:00"/>*@
</div>